[Unit]
Description=Daily JAYSPRAY Samsung firmware synchronization

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h
AccuracySec=5m
Unit=jayspray.service

[Install]
WantedBy=timers.target
